<section class="front-page">
<div class="container is-fluid">

<p class="notice"><%= notice %></p>
                  <p class="alert"><%= alert %></p>

<div class="top-line">
<div class="columns">



  <div class="column is-3">
  <a href="/prospects">
      <div class="notification is-primary top-line-1">
      <div class="columns">
          <div class="column is-6">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
        <div class="column is-6">
          <div class="pull-right">
            <span id="span1"><%= @prospects.length %></span><br>
            <span id="span2">Prospects</span>
          </div>
        </div>
        </div>
      </div>
  </a>
  </div>

  <div class="column is-3">
    <a href="/customers">
    <div class="notification is-primary top-line-2">
      <div class="columns">
          <div class="column is-6">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
          </div>
          <div class="column is-6">
            <div class="pull-right">
              <span id="span1"><%= @customers.length %></span><br>
              <span id="span2">Customers</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>


  <% if can? :create, User.new %> 
  <div class="column is-3">
    <a href="/roles">
      <div class="notification is-primary top-line-3">
      <div class="columns">
          <div class="column is-6">
            <i class="fa fa-cubes" aria-hidden="true"></i>
          </div>
          <div class="column is-6">
            <div class="pull-right">
              <span id="span1"><%= @users.length %></span><br>
              <span id="span2">Users</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <% end %>

  <% if can? :create, Stage.new %> 
  <div class="column is-3">
    <a href="/stages">
      <div class="notification is-primary top-line-4">
      <div class="columns">
          <div class="column is-6">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          </div>
          <div class="column is-6">
            <div class="pull-right">
              <span id="span1"><%= @stages.length %></span><br>
              <span id="span2">Stages</span>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <% end %>

</div>
</div>



<div class="columns">

  <div class="column is-6">
    <div class="graphs">
      <% total_customers = @customers.length %>
      <% total_prospects = @prospects.length %>

      <%= pie_chart({"Customers" =>  total_customers, "Prospects" =>  total_prospects}) %>
    </div>
  </div>

  <div class="column is-6">
    <div class="graphs">
      <% data = {} %>
      <% data["Customers"] = @customers.size %>
      <% data["Prospects"] = @prospects.size %>
      <%= column_chart(data) %>
    </div>
  </div>

</div>

</div>
</section>



