<div class="container is-fluid">

<div class="columns">
  <div class="column is-10">
    <h2 class="title is-3">Customer Details </h2>
  </div>
</div>

<% if @customers.empty? %>
   <p> table is empty</p> 
<% else %>

<table class="table is-bordered is-striped">
	<thead>
		<tr>
			<td>Sl.no</td>
			<td>Full Name</td>
			<td>Email</td>
			<td>Phone</td>
			<td>Location</td>
			<th colspan="1"></th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each_with_index do |customer, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= customer.full_name %></td>
				<td><%= customer.email %></td>
				<td><%= customer.phone %></td>
				<td><%= customer.location %></td>
				<td><%= link_to customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" do %> Delete <% end %></td>
			</tr>
		<% end %>
	</tbody>
</table>

 <% end %>
 
 </div>