<h2><%= @customer.full_name %></h2>
<p> Email: <%= @customer.email %> </p> 
<p> Phone: <%= @customer.phone %> </p>
<p> Location: <%= @customer.location %> </p>

<%= link_to "Back", customers_path %>
<%= link_to "edit", edit_prospect_path %>