<h2>Stage Details </h2>

  <% if @stages.empty? %>
     <p> table is empty</p> 
  <% else %>

 <table>
	<thead>
		<tr>
			<td>Sl.no</td>
			<td>Name</td>
			<td>Description</td>-
			<td>Interest Level</td>
		</tr>
	</thead>
	<tbody>
		<% @stages.each_with_index do |stage, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= stage.name %></td>
				<td><%= stage.description %></td>
				<td><%= stage.interest_level %></td>
				<td><%= link_to "Show", stage_path(stage) %></td>
				<td><%= link_to "Edit", edit_stage_path(stage) %></td>
				<td><%= link_to "Delete", stage_path(stage), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
 </table>

 <% end %>

 <%= link_to "Add stage", new_stage_path %>