<div class="container is-fluid">
 <div class="columns">
  <div class="column is-8">
    <h2 class="title is-3">Stage Details</h2>
  </div>
  <div class="column is-4">
      <h2 class="title is-3">Add New Stage</h2>
  </div>
</div>



<div class="columns">
  <div class="column is-8">

  		<% if @stages.empty? %>

  		<table class="table is-bordered is-striped" id="table">
  			<thead>
				<tr>
					<td>Sl.no</td>
					<td>Name</td>
					<td>Description</td>
					<td>Interest Level</td>
				</tr>
			</thead>

  		</table>
   			
		<% else %>
		
	  	<table class="table is-bordered is-striped" id="table">
			<thead>
				<tr>
					<td>Sl.no</td>
					<td>Name</td>
					<td>Description</td>
					<td>Interest Level</td>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @stages.each_with_index do |stage, index| %>
					<tr id="stage_<%= stage.id %>">
						<td><%= index + 1 %></td>
						<td><%= stage.name %></td>
						<td><%= stage.description %></td>
						<td><%= stage.interest_level %></td>
						<td><%= link_to edit_stage_path(stage), class: "button is-info" do %> Edit <% end %></td>
					<!-- 	<td><#%= link_to stage_path(stage), method: :delete, data: { confirm: 'Are you sure?', remote: true } , class: "button is-danger" do %> Delete <%# end %></td> -->
					</tr>
				<% end %>
			</tbody>
		</table>
  </div>

  <div class="column is-4">

    <div id="errors">
  	</div>

	<div class="index-form">

		<div class="form-styling">

  			<%= form_for Stage.new,remote: true do |f| %>

				<div class="wrap">
	  				<div>
	    				<label for="stage_name">Name</label>
	    				<%= f.text_field :name, id: "stage_name", class: "cool" %><br>
	  				</div>
	  				<span id="stageNameError"></span>

	  				<div>
	    				<label for="stage_description">Description</label>
	    				<%= f.text_field :description, id: "stage_description", class: "cool" %><br>
	  				</div>
	  				<span id="stageDescriptionError"></span>

	  				<div>
	    				<label for="stage_interest_level">Interest Level</label>
	    				<%= f.text_field :interest_level, id: "stage_interest_level", class: "cool" %><br>
	  				</div>
	  				<span id="stageInterestLevelError"></span>
				</div>
	

				<div class="columns">
			  		<div class="column is-4 is-offset-8">
			    		<%= f.submit "Submit", class: "button is-success"%>
			  		</div>
				</div>

			<% end %>
		</div>
	</div>

	<div id="noticeMsg">
  	</div>

  </div>
 </div>

<% end %>
</div>


<script>

	$('input').on('focusin', function() {
	  $(this).parent().find('label').addClass('active');
	});

	$('input').on('focusout', function() {
	  if (!this.value) {
	    $(this).parent().find('label').removeClass('active');
	  }
	});
	
	var stageNameHandle = document.getElementById('stage_name');
	var stageDescriptionHandle = document.getElementById('stage_description');
	var stageInterestLevelHandle = document.getElementById('stage_interest_level');

	var stageNameErrorHandle = document.getElementById('stageNameError');
	var stageDescriptionErrorHandle = document.getElementById('stageDescriptionError');
	var stageInterestLevelErrorHandle = document.getElementById('stageInterestLevelError');



	stageNameHandle.onblur = function(){
	  if(stageNameHandle.value.length == ""){
	    stageNameErrorHandle.innerHTML = "cant be blank";
	  }
	  else{
	    stageNameErrorHandle.innerHTML = "";
	  }
	}

	stageDescriptionHandle.onblur = function(){
	  if(stageDescriptionHandle.value.length == ""){
	    stageDescriptionErrorHandle.innerHTML = "cant be blank";
	  }
	  else{
	    stageDescriptionErrorHandle.innerHTML = "";
	  }
	}

	stageInterestLevelHandle.onblur = function(){
	  if(stageInterestLevelHandle.value.length == ""){
	    stageInterestLevelErrorHandle.innerHTML = "cant be blank";
	  }
	  else{
	    stageInterestLevelErrorHandle.innerHTML = "";
	  }
	}

</script>



 
