<p> Name: <%= @stage.name %> </p> 
<p> Description: <%= @stage.description %> </p>
<p> Interest Level: <%= @stage.interest_level %> </p>

<%= link_to "Back", stages_path %>
<%= link_to "edit", edit_stage_path %>
