<div class="container is-fluid">
 <div class="columns">
  <div class="column is-9">
    <h2 class="title is-3">Prospect Details </h2>
  </div>
  <div class="column is-3">
      <h2 class="title is-3">Add New Prospect</h2>
  </div>
</div>



<div class="columns">
  <div class="column is-9">

	  	<% if @prospects.empty? %>
	   		<p> table is empty </p> 
	  	<% else %>

	  	<table class="table is-bordered is-striped" id="table">
			<thead>
				<tr>
					<th>Sl.no</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Phone</th>
					<th>Location</th>
					<th>Stage</th>
					<th>Managed by</th>
					<th colspan="2"></th>
				</tr>
			</thead>

			<tbody>
				<% @prospects.each_with_index do |prospect, index| %>
					<tr id="prospect_<%= prospect.id %>">
						<td><%= index + 1 %></td>
						<td><%= prospect.full_name %></td>
						<td><%= prospect.email %></td>
						<td><%= prospect.phone %></td>
						<td><%= prospect.location %></td>
						<td><%= prospect.stage.try(:name) %></td>
						<td><%= User.find(prospect.managed_by).full_name %></td>
						<td><%= link_to edit_prospect_path(prospect), class: "button is-info" do %> Edit <% end %></td>
						<td><%= link_to prospect_path(prospect), method: :delete, data: { confirm: 'Are you sure?' , remote: true}, class: "button is-danger" do %> Delete <% end %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
  </div>

  <div class="column is-3">

    <div id="errors">
  	</div>

  	<div class="index-form">

  		<%= form_for Prospect.new,remote: true do |f| %>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :full_name %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.text_field :full_name %><br>
			     		<span id="prospectNameError"></span>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :email %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.text_field :email %><br>
			     		<span id="prospectEmailError"></span>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :phone %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.text_field :phone %><br>
			     		<span id="prospectPhoneError"></span>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :location %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.text_field :location %><br>
			     		<span id="prospectLocationError"></span>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :stage %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.collection_select :stage_id, Stage.all, :id, :name, prompt: "Select Stage", :selected => 'New Opportunity' %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-3">
			    		<%= f.label :managed_by %>
			  		</div>
			  		<div class="column is-7">
			     		<%= f.collection_select :managed_by, User.all, :id, :full_name, prompt: "Select who manages" %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-4 is-offset-6">
			    		<%= f.submit "Submit", class: "button is-success"%>
			  		</div>
				</div>

		<% end %>
	</div>

	<div id="noticeMsg">

  	</div>

  </div>

 </div>


</div>


<script>

	var prospectNameHandle = document.getElementById('prospect_full_name');
	var prospectEmailHandle = document.getElementById('prospect_email');
	var prospectPhoneHandle = document.getElementById('prospect_phone');
	var prospectLocationHandle = document.getElementById('prospect_location');

	var prospectNameErrorHandle = document.getElementById('prospectNameError');
	var prospectEmailErrorHandle = document.getElementById('prospectEmailError');
	var prospectPhoneErrorHandle = document.getElementById('prospectPhoneError');
	var prospectLocationErrorHandle = document.getElementById('prospectLocationError');



	prospectNameHandle.onblur = function(){
	  if(prospectNameHandle.value.length == ""){
	    prospectNameErrorHandle.innerHTML = "cant be blank";
	  }
	  else{
	    prospectNameErrorHandle.innerHTML = "";
	  }
	}

	prospectEmailHandle.onblur = function(){
	  if(prospectEmailHandle.value.length == ""){
	    prospectEmailErrorHandle.innerHTML = "cant be blank";
	  }
	  else if(!validateEmail(prospectEmailHandle.value)){
	    prospectEmailErrorHandle.innerHTML = "invalid email format";
	  }
	  else{
	    prospectEmailErrorHandle.innerHTML = "";
	  }
	}

	prospectPhoneHandle.onblur = function(){
	  if(prospectPhoneHandle.value.length == ""){
	    prospectPhoneErrorHandle.innerHTML = "cant be blank";
	  }

	  else if(prospectPhoneHandle.value.length != 10){
	    prospectPhoneErrorHandle.innerHTML = "phone number should be 10 digits";
	  }
	  else{
	    prospectPhoneErrorHandle.innerHTML = "";
	  }
	}


	prospectLocationHandle.onblur = function(){
	  if(prospectLocationHandle.value.length == ""){
	    prospectLocationErrorHandle.innerHTML = "cant be blank";
	  }
	  else{
	    prospectLocationErrorHandle.innerHTML = "";
	  }
	}


	function validateEmail(email) {
	    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	    return re.test(email);
	}

</script>

