<div class="container is-fluid">

<h2>Prospect Details </h2>

  <% if @prospects.empty? %>
     <p> table is empty</p> 
  <% else %>

 <table class="table is-bordered is-striped">
	<thead>
		<tr>
			<th>Sl.no</th>
			<th>Full Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Location</th>
			<th>Stage</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @prospects.each_with_index do |prospect, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= prospect.full_name %></td>
				<td><%= prospect.email %></td>
				<td><%= prospect.phone %></td>
				<td><%= prospect.location %></td>
				<td><%= prospect.stage.try(:name) %></td>
				<td><%= link_to prospect_path(prospect), class: "button is-success" do %> Show <% end %></td>
				<td><%= link_to edit_prospect_path(prospect), class: "button is-info" do %> Edit <% end %></td>
				<td><%= link_to prospect_path(prospect), method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger" do %> Delete <% end %></td>
			</tr>
		<% end %>
	</tbody>
 </table>

 <% end %>

 <%= link_to "Add Prospect", new_prospect_path %>
 <%#= link_to "Invite", new_user_invitation_path %>


</div>

<!-- <a class="button is-primary is-large modal-button" data-target="modal-ter">Launch modal card</a>
<div class="modal" id="modal-ter">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
   
    </section>
    <footer class="modal-card-foot">
      <a class="button is-success">Save changes</a>
      <a class="button">Cancel</a>
    </footer>
  </div>
</div>
 -->