<div class="page-styling">
	<div class="container is-fluid">
		<h2> Add New prospect </h2> 

			<%= form_for @prospect do |f| %>

				<% if @prospect.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

				      <ul>
				      <% @prospect.errors.full_messages.each do |message| %>
				        <li><%= message %></li>
				      <% end %>
				      </ul>
				    </div>
				<% end %>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :full_name  %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :full_name %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :email %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :email %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :phone %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :phone %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :location %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :location %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :stage %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.collection_select :stage_id, Stage.all, :id, :name, prompt: "Select Stage", :selected => 'New Opportunity' %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :managed_by %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.collection_select :managed_by, User.all, :id, :full_name, prompt: "Select who manages" %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2 is-offset-2">
			    		<%= f.submit "Submit", class: "button is-success"%>
			  		</div>
				</div>

			<% end %>
	</div>
</div>