<div class="page-styling">
	<div class="container is-fluid">
		<h2> Add New prospect </h2> 

			<%= form_for @prospect do |f| %>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :full_name  %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :full_name %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :email %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :email %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :phone %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :phone %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :location %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.text_field :location %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2">
			    		<%= f.label :stage %>
			  		</div>
			  		<div class="column is-2">
			     		<%= f.collection_select :stage_id, Stage.all, :id, :name, prompt: "Select Stage", :selected => 'New Opportunity' %>
			  		</div>
				</div>

				<div class="columns">
			  		<div class="column is-2 is-offset-2">
			    		<%= f.submit "Submit", class: "button is-success"%>
			  		</div>
				</div>

			<% end %>
	</div>
</div>