<h2><%= @prospect.full_name %></h2>
<p> Email: <%= @prospect.email %> </p> 
<p> Phone: <%= @prospect.phone %> </p>
<p> Location: <%= @prospect.location %> </p>

<%= link_to "Back", prospects_path %>
<%= link_to "edit", edit_prospect_path %>
