<!DOCTYPE html>
<html>
<head>
  <title>Lead2Sale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 
  

  <link rel="icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/android-icon-36x36.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/android-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/android-icon-144x144.png">
</head>
<body>

<% if user_signed_in? %>

<nav class="nav has-shadow">
  <div class="container is-fluid is-mobile">
    <div class="nav-left">
      <a class="nav-item" href="/" >
        <img src="/images/l2s2.png" alt="Bulma logo">
      </a>

      <% if can? :read, Customer.new %> 
        <%= link_to("Customers", customers_path , class: controller.controller_name == "customers" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <% end %>

      <% if can? :create, Role.new %> 
      <%= link_to("Roles", roles_path , class: controller.controller_name == "roles" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <% end %>

      <% if can? :create, Prospect.new %> 
      <%= link_to("Prospects", prospects_path , class: controller.controller_name == "prospects" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <% end %>

      <% if can? :create, Stage.new %> 
      <%= link_to("Stages", stages_path , class: controller.controller_name == "stages" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <% end %> 

      <% if can? :create, User.new %> 
      <%= link_to("Users", users_path , class: controller.controller_name == "users" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%> 
      <% end %>
      
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class=> "nav-item is-tab" %>
    </div>
  </div>
</nav>

<div class="container is-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<% end %>

<%= yield %>

</body>
</html>
