<!DOCTYPE html>
<html>
<head>
  <title>Lead2Sale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/js/jqueryui-editable.min.js"></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>

</head>
<body>

<% if user_signed_in? %>

<nav class="nav has-shadow">
  <div class="container is-fluid is-mobile">
    <div class="nav-left">
      <a class="nav-item" href="/" >
        <img src="/images/l2s2.jpg" alt="Bulma logo">
      </a>

      <%#= link_to "Customers", customers_path , :class=> "nav-item is-tab is-hidden-mobile is-active" %> 
      <%#= link_to "Users", users_path , :class=> "nav-item is-tab is-hidden-mobile"%> 
      <%#= link_to "Roles", roles_path , :class=> "nav-item is-tab is-hidden-mobile" %> 
      <%#= link_to "Prospects", prospects_path , :class=> "nav-item is-tab is-hidden-mobile" %> 
      <%#= link_to "Stages", stages_path , :class=> "nav-item is-tab is-hidden-mobile" %>

      <%= link_to("Customers", customers_path , class: controller.controller_name == "customers" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <%= link_to("Roles", roles_path , class: controller.controller_name == "roles" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <%= link_to("Prospects", prospects_path , class: controller.controller_name == "prospects" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>
      <%= link_to("Stages", stages_path , class: controller.controller_name == "stages" ? "nav-item is-tab is-hidden-mobile is-active" : "nav-item is-tab is-hidden-mobile")%>

      
        
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
   
      </a>
          <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class=> "nav-item is-tab" %>
    </div>
  </div>
</nav>

<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
